  <link type="text/css" rel="stylesheet" href="/static/main/assets/plugins/daterangepicker/daterangepicker.css"/>
  <!-- Chart CSS -->
  <link type="text/css" rel="stylesheet" href="/static/main/assets/plugins/chartist/chartist.css">
  <!-- Map CSS -->
  <link type="text/css" rel="stylesheet" href="/static/main/assets/plugins/jqvmap/jquery-jvectormap-2.0.2.css">
  <!-- Main CSS -->
  <link type="text/css" rel="stylesheet" href="/static/main/assets/css/style.css"/>

  <link rel="stylesheet" href="/static/main/assets/plugins/smartWizard/css/smart_wizard.min.css">
  <!-- Favicon -->
  <link rel="icon" href="/static/main/assets/images/favicon.ico" type="image/x-icon">

  <link type="text/css" rel="stylesheet" href="/static/main/assets/plugins/footable/footable.core.css">
  <link type="text/css" rel="stylesheet" href="/static/main/assets/plugins/rangeSlider/css/ion.rangeSlider.min.css"/>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn"t work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

  <![endif]-->