<div class="page-sidebar-inner">
   <div class="page-sidebar-menu">
      <ul class="accordion-menu">
         {% if user.is_authenticated %}
            {% if request.user|has_group:"designer" %}
               {% include 'main/main_elements/designer.html' %}
            {% endif %}
            {% if request.user|has_group:"manager" %}
               {% include 'main/main_elements/manager.html' %}
            {% endif %}
            {% if request.user|has_group:"director" %}
               {% include 'main/main_elements/director.html' %}
            {% endif %}
            {% if request.user|has_group:"admin" %}
               {% include 'main/main_elements/admin.html' %}
            {% endif %}
         {% endif %}

      </ul>
   </div>
</div>