<div class="header-right pull-right">
 <ul class="list-inline justify-content-end">
    <!--================================-->



    <!-- Profile Dropdown Start -->
    <!--================================-->
    {% if user.is_authenticated %}
       <li class="list-inline-item dropdown">

          <a  href="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="/static/main/assets/images/users-face/female_icon.png" class="img-fluid wd-30 ht-30 rounded-circle" alt="">
             <span class="tx-13 tx-gray-600">{{ user.get_full_name }}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-profile">
             <div class="user-profile-area">
                <div class="user-profile-heading">
                   <div class="profile-thumbnail">
                      <img src="/static/main/assets/images/users-face/female_icon.png" class="img-fluid wd-35 ht-35 rounded-circle" alt="">
                   </div>
                   <div class="profile-text">
                      <h6>{{ user.get_full_name }}</h6>
                      <span>{{ user.groups.all.0 }}</span>
                   </div>
                </div>
                <a href="" class="dropdown-item"><i data-feather="user" class="wd-16 mr-2"></i> Мой профиль</a>
                <a href="" class="dropdown-item"><i data-feather="life-buoy" class="wd-16 mr-2"></i> Поддержка</a>
                <a href="{% url 'logout' %}" class="dropdown-item"><i data-feather="power" class="wd-16 mr-2"></i> Выйти</a>
             </div>
          </div>
       </li>
    {% endif %}
    <!-- Profile Dropdown End -->
 </ul>
</div>