<div class="header-right pull-right">
 <ul class="list-inline justify-content-end">
    <!--================================-->

    <!--================================-->
    <!-- Notifications Dropdown Start -->
    <!--================================-->
    <li class="list-inline-item dropdown hidden-xs">
       <a class=" notification-icon" href="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       <i data-feather="bell" class="wd-20"></i>
       <span class="notification-count wave in"></span>
       </a>
       <div class="dropdown-menu dropdown-menu-right">
          <!-- Top Notifications Area -->
          <div class="top-notifications-area">
             <!-- Heading -->
             <div class="notifications-heading">
                <div class="heading-title">
                   <h6>Notifications</h6>
                </div>
                <span>5+ New Notifications</span>
             </div>
             <div class="notifications-box" id="notificationsBox">
                <a class="dropdown-item list-group-item" href="">
                   <div class="d-flex justify-content-between">
                      <div class="wd-35 ht-35 mg-r-10 d-flex align-items-center justify-content-center rounded-circle card-icon-success">
                         <i data-feather="smile" class="wd-20"></i>
                      </div>
                   </div>
                   <div class="wd-100p">
                      <div class="d-flex justify-content-between">
                         <h3 class="tx-13 tx-semibold mb-0">Your order is placed</h3>
                         <span class="small tx-gray-500 ft-right">Mar 15, 12:32pm</span>
                      </div>
                      <div class="tx-gray-700">System reboot has been successfully completed</div>
                   </div>
                </a>
                <a class="dropdown-item list-group-item" href="">
                   <div class="d-flex justify-content-between">
                      <div class="wd-35 ht-35 mg-r-10 d-flex align-items-center justify-content-center rounded-circle card-icon-warning">
                         <i data-feather="bell" class="wd-20"></i>
                      </div>
                   </div>
                   <div class="wd-100p">
                      <div class="d-flex justify-content-between">
                         <h3 class="tx-13 tx-semibold mb-0">Document available</h3>
                         <span class="small tx-gray-500 ft-right">Mar 15, 12:32pm</span>
                      </div>
                      <div class="tx-gray-700">New user feedback received</div>
                   </div>
                </a>
                <a class="dropdown-item list-group-item" href="">
                   <div class="d-flex justify-content-between">
                      <div class="wd-35 ht-35 mg-r-10 d-flex align-items-center justify-content-center rounded-circle card-icon-success">
                         <i data-feather="check-circle" class="wd-20"></i>
                      </div>
                   </div>
                   <div class="wd-100p">
                      <div class="d-flex justify-content-between">
                         <h3 class="tx-13 tx-semibold mb-0">Payment failed!</h3>
                         <span class="small tx-gray-500 ft-right">Mar 15, 12:32pm</span>
                      </div>
                      <div class="tx-gray-700">New file has been uploaded</div>
                   </div>
                </a>
                <a class="dropdown-item list-group-item" href="">
                   <div class="d-flex justify-content-between">
                      <div class="wd-35 ht-35 mg-r-10 d-flex align-items-center justify-content-center rounded-circle card-icon-primary">
                         <i data-feather="info" class="wd-20"></i>
                      </div>
                   </div>
                   <div class="wd-100p">
                      <div class="d-flex justify-content-between">
                         <h3 class="tx-13 tx-semibold mb-0">Document available</h3>
                         <span class="small tx-gray-500 ft-right">Mar 15, 12:32pm</span>
                      </div>
                      <div class="tx-gray-700">New order has been received</div>
                   </div>
                </a>
                <a class="dropdown-item list-group-item" href="">
                   <div class="d-flex justify-content-between">
                      <div class="wd-35 ht-35 mg-r-10 d-flex align-items-center justify-content-center rounded-circle card-icon-primary">
                         <i data-feather="info" class="wd-20"></i>
                      </div>
                   </div>
                   <div class="wd-100p">
                      <div class="d-flex justify-content-between">
                         <h3 class="tx-13 tx-semibold mb-0">New order available</h3>
                         <span class="small tx-gray-500 ft-right">Mar 15, 12:32pm</span>
                      </div>
                      <div class="tx-gray-700">New order has been received</div>
                   </div>
                </a>
                <a class="dropdown-item list-group-item" href="">
                   <div class="d-flex justify-content-between">
                      <div class="wd-35 ht-35 mg-r-10 d-flex align-items-center justify-content-center rounded-circle card-icon-success">
                         <i data-feather="smile" class="wd-20"></i>
                      </div>
                   </div>
                   <div class="wd-100p">
                      <div class="d-flex justify-content-between">
                         <h3 class="tx-13 tx-semibold mb-0">Your order is placed</h3>
                         <span class="small tx-gray-500 ft-right">Mar 15, 12:32pm</span>
                      </div>
                      <div class="tx-gray-700">System reboot has been successfully completed</div>
                   </div>
                </a>
                <a class="dropdown-item list-group-item" href="">
                   <div class="d-flex justify-content-between">
                      <div class="wd-35 ht-35 mg-r-10 d-flex align-items-center justify-content-center rounded-circle card-icon-warning">
                         <i data-feather="bell" class="wd-20"></i>
                      </div>
                   </div>
                   <div class="wd-100p">
                      <div class="d-flex justify-content-between">
                         <h3 class="tx-13 tx-semibold mb-0">Document available</h3>
                         <span class="small tx-gray-500 ft-right">Mar 15, 12:32pm</span>
                      </div>
                      <div class="tx-gray-700">New user feedback received</div>
                   </div>
                </a>
             </div>
             <div class="notifications-footer">
                <a href="">View all Notifications</a>
             </div>
          </div>
       </div>
    </li>
    <!--/ Notifications Dropdown End -->
    <!--================================-->

    <!-- Profile Dropdown Start -->
    <!--================================-->
    {% if user.is_authenticated %}
       <li class="list-inline-item dropdown">
          <a  href="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="/static/main/assets/images/users-face/admin_users_icon.jpg" class="img-fluid wd-30 ht-30 rounded-circle" alt="">
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-profile">
             <div class="user-profile-area">
                <div class="user-profile-heading">
                   <div class="profile-thumbnail">
                      <img src="/static/main/assets/images/users-face/admin_users_icon.jpg" class="img-fluid wd-35 ht-35 rounded-circle" alt="">
                   </div>
                   <div class="profile-text">
                      <h6>{{ user.get_full_name }}</h6>
                      <span>{{ user.groups.all.0 }}</span>
                   </div>
                </div>
                <a href="" class="dropdown-item"><i data-feather="user" class="wd-16 mr-2"></i> Мой профиль</a>
                <a href="" class="dropdown-item"><i data-feather="life-buoy" class="wd-16 mr-2"></i> Поддержка</a>
                <a href="{% url 'logout' %}" class="dropdown-item"><i data-feather="power" class="wd-16 mr-2"></i> Выйти</a>
             </div>
          </div>
       </li>
    {% endif %}
    <!-- Profile Dropdown End -->
 </ul>
</div>