{% extends "main/base.html" %}

{% block title_h1 %}Редактирования допа к карнизу {{cornice.collection}} {{cornice.model}} {{cornice.long}} {% endblock %}

{% block body_content %}

<form method="POST" class="post-form">{% csrf_token %}
    <div class="row">
        <div class="col-xl-6">
            <div class="form-layout form-layout-4">
               <p class="mg-b-30 tx-gray-700">Введите данные по доп.материалу</p>

               <!-- row -->
               <div class="row mg-t-20">
                  <label class="col-sm-4 form-control-label">Карниз:</label>
                  <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                     {{cornice.collection}} {{cornice.model}} {{cornice.long}}
                  </div>
               </div>
                <div class="row mg-t-20">
                  <label class="col-sm-4 form-control-label">Категория:</label>
                  <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                     {{ form.category }}
                  </div>
               </div>
                <div class="row mg-t-20">
                  <label class="col-sm-4 form-control-label">Наименование:</label>
                  <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                     {{ form.name }}
                  </div>
               </div>
                <div class="row mg-t-20">
                  <label class="col-sm-4 form-control-label">Тип:</label>
                  <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                     {{ form.type_p }}
                  </div>
               </div>
                <div class="row mg-t-20">
                  <label class="col-sm-4 form-control-label">Цена:</label>
                  <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                     {{ form.price }}
                  </div>
               </div>
               <!-- row -->
               <div class="row mg-t-30">
                  <div class="col-sm-10">
                     <div class="form-layout-footer">
                         <button type="Submit" class="btn btn-primary">Изменить</button>
                         <a href="{% url 'common:cornice_additional_list' id=cornice.id %}" class="btn btn-secondary">Отменить</a>
                     </div>
                     <!-- form-layout-footer -->
                  </div>
                  <!-- col-8 -->
               </div>
            </div>
            <!-- form-layout -->
         </div>

    </div>
 </form>
</br>
{% endblock %}