{% extends "main/base.html" %}

{% block body_content %}


            <div class="page-inner">

               <!--================================-->
               <!--  Start -->
               <!--================================-->


                  <!-- Earnings Details Start -->


               <!--================================-->
               <!-- Sales Details Start -->	
               <!--================================-->				   
               <div class="row clearfix">
                  <div class="col-lg-6">
                     <div class="card mg-b-30">
                        <div class="card-body">
                           <div class="row">
                              <div class="col-md-5 col-lg-4 col-xl-6 order-sm-0 mg-t-20 mg-sm-t-0">
                                 <div class="clearfix">
                                    <div id="flotBarRecentOrders" style="height: 100px"></div>
                                 </div>
                              </div>
                              <div class="col-md-7 col-lg-8 col-xl-6">
                                 <div class="pd-0">
                                    <div class="d-flex align-items-baseline mg-b-5">
                                       <h1 class="tx-20 tx-sm-18 tx-md-24 mg-b-0 tx-rubik tx-dark tx-normal">1,245</h1>
                                       <span class="d-flex align-items-center tx-success mg-l-2 tx-10"><i class="ti-arrow-up tx-8 tx-success tx-8 mr-1"></i>11.24%</span>
                                    </div>
                                    <h6 class="tx-11 tx-primary tx-uppercase">Recent Orders</h6>
                                    <p class="tx-11 tx-sm-12 mg-b-0 tx-gray-500">Habi tasse labo rum purus, vesti bulum at<span class="d-none d-sm-inline"> vivamus tempor port titor vulpu</span>... <a href="">Learn More</a></p>
                                 </div>
                              </div>
                           </div>
                           <!-- row -->
                        </div>
                     </div>
                     <!-- card -->
                  </div>
                  <div class="col-lg-6">
                     <div class="card mg-b-30">
                        <div class="card-body">
                           <div class="row">
                              <div class="col-md-5 col-lg-4 col-xl-6 order-1 order-sm-0 mg-t-20 mg-sm-t-0">
                                 <div class="clearfix">
                                    <div id="flotBarCompleteOrders" style="height: 100px"></div>
                                 </div>
                              </div>
                              <div class="col-md-7 col-lg-8 col-xl-6">
                                 <div class="pd-0">
                                    <div class="d-flex align-items-baseline mg-b-5">
                                       <h1 class="tx-20 tx-sm-18 tx-md-24 mg-b-0 tx-rubik tx-dark tx-normal">9,540</h1>
                                       <span class="d-flex align-items-center tx-danger mg-l-2 tx-10"><i class="ti-arrow-down tx-8 tx-danger tx-8 mr-1"></i>10.9%</span>
                                    </div>
                                    <h6 class="tx-11 tx-pink tx-uppercase">Complete Orders</h6>
                                    <p class="tx-12 mg-b-0 tx-gray-500">Habi tasse labo rum purus, vesti bulum<span class="d-none d-sm-inline"> at vivamus tempor port titor vulpu</span>... <a href="">Learn More</a></p>
                                 </div>
                              </div>
                           </div>
                           <!-- row -->
                        </div>
                     </div>
                     <!-- card -->
                  </div>
               </div>
               <!--/ Sales Details End -->
               <div class="row">
                  <!--================================-->
                  <!-- New Customers Start -->	
                  <!--================================-->			   
                  <div class="col-lg-6 col-xl-4">
                     <div class="card mg-b-30">
                        <div class="card-header d-flex align-items-center justify-content-between">
                           <h6 class="tx-13 mb-0">New Customers</h6>
                           <div class="card-header-btn">
                              <div class="dropdown">
                                 <a href="" class="" data-toggle="dropdown"><i class="ti-more"></i></a>
                                 <div class="dropdown-menu dropdown-menu-right">
                                    <a href="" class="dropdown-item"><i data-feather="info" class="wd-16 mr-2"></i>View Details</a>
                                    <a href="" class="dropdown-item"><i data-feather="share" class="wd-16 mr-2"></i>Share</a>
                                    <a href="" class="dropdown-item"><i data-feather="download" class="wd-16 mr-2"></i>Download</a>
                                    <a href="" class="dropdown-item"><i data-feather="copy" class="wd-16 mr-2"></i>Copy to</a>
                                    <a href="" class="dropdown-item"><i data-feather="folder" class="wd-16 mr-2"></i>Move to</a>
                                    <a href="" class="dropdown-item"><i data-feather="edit" class="wd-16 mr-2"></i>Rename</a>
                                    <a href="" class="dropdown-item"><i data-feather="trash" class="wd-16 mr-2"></i>Delete</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="card-body pd-y-20">
                           <ul class="list-unstyled mb-0">
                              <li class="d-flex align-items-center mg-b-15">
                                 <a href="">
                                    <div class="avatar avatar-online"><span class="avatar-initial rounded-circle bg-gray-800">A</span><i></i></div>
                                 </a>
                                 <div class="media-body pd-l-15 lh-2">
                                    <p class="tx-medium mg-b-2"><a href="">Archie Cantones</a></p>
                                    <span class="tx-12 tx-gray-500">Joined: 01 Mar, 2019</span>
                                 </div>
                                 <div class="mg-l-auto d-flex align-self-center action-icon">
                                    <nav class="nav nav-icon-only">
                                       <a href="" data-toggle="tooltip" class="mr-2 tx-gray-500" title="" data-placement="top" data-original-title="Send Message"><i data-feather="mail" class="wd-16"></i></a>							 
                                       <a href="" data-toggle="tooltip" class="mr-2 tx-gray-500" title="" data-placement="top" data-original-title="Add to Fiend"><i data-feather="user-plus" class="wd-16"></i></a>							  
                                       <a href="" class="mr-2 tx-gray-500" data-toggle="tooltip" title="" data-placement="top" data-original-title="Flag User"><i data-feather="flag" class="wd-16"></i></a>
                                       <a href="" data-toggle="tooltip" class="tx-gray-500" title="" data-placement="top" data-original-title="More Options"><i data-feather="more-vertical" class="wd-16"></i></a>
                                    </nav>
                                 </div>
                              </li>
                              <li class="d-flex align-items-center mg-b-15">
                                 <a href="">
                                    <div class="avatar avatar-online"><span class="avatar-initial rounded-circle bg-primary">H</span><i></i></div>
                                 </a>
                                 <div class="media-body pd-l-15 lh-2">
                                    <p class="tx-medium mg-b-2"><a href="">Holmes Cherryman</a></p>
                                    <span class="tx-12 tx-gray-500">Joined: 06 Mar, 2019</span>
                                 </div>
                                 <div class="mg-l-auto d-flex align-self-center action-icon">
                                    <nav class="nav nav-icon-only">
                                       <a href="" data-toggle="tooltip" class="mr-2 tx-gray-500" title="" data-placement="top" data-original-title="Send Message"><i data-feather="mail" class="wd-16"></i></a>							 
                                       <a href="" data-toggle="tooltip" class="mr-2 tx-gray-500" title="" data-placement="top" data-original-title="Add to Fiend"><i data-feather="user-plus" class="wd-16"></i></a>							  
                                       <a href="" class="mr-2 tx-gray-500" data-toggle="tooltip" title="" data-placement="top" data-original-title="Flag User"><i data-feather="flag" class="wd-16"></i></a>
                                       <a href="" data-toggle="tooltip" class="tx-gray-500" title="" data-placement="top" data-original-title="More Options"><i data-feather="more-vertical" class="wd-16"></i></a>
                                    </nav>
                                 </div>
                              </li>
                              <li class="d-flex align-items-center mg-b-15">
                                 <a href="">
                                    <div class="avatar avatar-online"><span class="avatar-initial rounded-circle bg-danger">M</span><i></i></div>
                                 </a>
                                 <div class="media-body pd-l-15 lh-2">
                                    <p class="tx-medium mg-b-2"><a href="">Malanie Hanvey</a></p>
                                    <span class="tx-12 tx-gray-500">Joined: 11 Mar, 2019</span>
                                 </div>
                                 <div class="mg-l-auto d-flex align-self-center action-icon">
                                    <nav class="nav nav-icon-only">
                                       <a href="" data-toggle="tooltip" class="mr-2 tx-gray-500" title="" data-placement="top" data-original-title="Send Message"><i data-feather="mail" class="wd-16"></i></a>							 
                                       <a href="" data-toggle="tooltip" class="mr-2 tx-gray-500" title="" data-placement="top" data-original-title="Add to Fiend"><i data-feather="user-plus" class="wd-16"></i></a>							  
                                       <a href="" class="mr-2 tx-gray-500" data-toggle="tooltip" title="" data-placement="top" data-original-title="Flag User"><i data-feather="flag" class="wd-16"></i></a>
                                       <a href="" data-toggle="tooltip" class="tx-gray-500" title="" data-placement="top" data-original-title="More Options"><i data-feather="more-vertical" class="wd-16"></i></a>
                                    </nav>
                                 </div>
                              </li>
                              <li class="d-flex align-items-center mg-b-15">
                                 <a href="">
                                    <div class="avatar avatar-offline"><span class="avatar-initial rounded-circle bg-teal">K</span><i></i></div>
                                 </a>
                                 <div class="media-body pd-l-15 lh-2">
                                    <p class="tx-medium mg-b-2"><a href="">Kenneth Hune</a></p>
                                    <span class="tx-12 tx-gray-500">Joined: 12 Mar, 2019</span>
                                 </div>
                                 <div class="mg-l-auto d-flex align-self-center action-icon">
                                    <nav class="nav nav-icon-only">
                                       <a href="" data-toggle="tooltip" class="mr-2 tx-gray-500" title="" data-placement="top" data-original-title="Send Message"><i data-feather="mail" class="wd-16"></i></a>							 
                                       <a href="" data-toggle="tooltip" class="mr-2 tx-gray-500" title="" data-placement="top" data-original-title="Add to Fiend"><i data-feather="user-plus" class="wd-16"></i></a>							  
                                       <a href="" class="mr-2 tx-gray-500" data-toggle="tooltip" title="" data-placement="top" data-original-title="Flag User"><i data-feather="flag" class="wd-16"></i></a>
                                       <a href="" data-toggle="tooltip" class="tx-gray-500" title="" data-placement="top" data-original-title="More Options"><i data-feather="more-vertical" class="wd-16"></i></a>
                                    </nav>
                                 </div>
                              </li>
                              <li class="d-flex align-items-center mg-b-15">
                                 <a href="">
                                    <div class="avatar avatar-offline"><span class="avatar-initial rounded-circle bg-success">V</span><i></i></div>
                                 </a>
                                 <div class="media-body pd-l-15 lh-2">
                                    <p class="tx-medium mg-b-2"><a href="">Valentine Maton</a></p>
                                    <span class="tx-12 tx-gray-500">Joined: 15 Mar, 2019</span>
                                 </div>
                                 <div class="mg-l-auto d-flex align-self-center action-icon">
                                    <nav class="nav nav-icon-only">
                                       <a href="" data-toggle="tooltip" class="mr-2 tx-gray-500" title="" data-placement="top" data-original-title="Send Message"><i data-feather="mail" class="wd-16"></i></a>							 
                                       <a href="" data-toggle="tooltip" class="mr-2 tx-gray-500" title="" data-placement="top" data-original-title="Add to Fiend"><i data-feather="user-plus" class="wd-16"></i></a>							  
                                       <a href="" class="mr-2 tx-gray-500" data-toggle="tooltip" title="" data-placement="top" data-original-title="Flag User"><i data-feather="flag" class="wd-16"></i></a>
                                       <a href="" data-toggle="tooltip" class="tx-gray-500" title="" data-placement="top" data-original-title="More Options"><i data-feather="more-vertical" class="wd-16"></i></a>
                                    </nav>
                                 </div>
                              </li>
                              <li class="d-flex align-items-center mg-b-15">
                                 <a href="">
                                    <div class="avatar avatar-offline"><span class="avatar-initial rounded-circle bg-primary">M</span><i></i></div>
                                 </a>
                                 <div class="media-body pd-l-15 lh-2">
                                    <p class="tx-medium mg-b-2"><a href="">Madsen Daniel</a></p>
                                    <span class="tx-12 tx-gray-500">Joined: 20 Mar, 2019</span>
                                 </div>
                                 <div class="mg-l-auto d-flex align-self-center action-icon">
                                    <nav class="nav nav-icon-only">
                                       <a href="" data-toggle="tooltip" class="mr-2 tx-gray-500" title="" data-placement="top" data-original-title="Send Message"><i data-feather="mail" class="wd-16"></i></a>							 
                                       <a href="" data-toggle="tooltip" class="mr-2 tx-gray-500" title="" data-placement="top" data-original-title="Add to Fiend"><i data-feather="user-plus" class="wd-16"></i></a>							  
                                       <a href="" class="mr-2 tx-gray-500" data-toggle="tooltip" title="" data-placement="top" data-original-title="Flag User"><i data-feather="flag" class="wd-16"></i></a>
                                       <a href="" data-toggle="tooltip" class="tx-gray-500" title="" data-placement="top" data-original-title="More Options"><i data-feather="more-vertical" class="wd-16"></i></a>
                                    </nav>
                                 </div>
                              </li>
                              <li class="d-flex align-items-center">
                                 <a href="">
                                    <div class="avatar avatar-offline"><span class="avatar-initial rounded-circle bg-warning">M</span><i></i></div>
                                 </a>
                                 <div class="media-body pd-l-15 lh-2">
                                    <p class="tx-medium mg-b-2"><a href="">Jesse Ross</a></p>
                                    <span class="tx-12 tx-gray-500">Joined: 21 Mar, 2019</span>
                                 </div>
                                 <div class="mg-l-auto d-flex align-self-center action-icon">
                                    <nav class="nav nav-icon-only">
                                       <a href="" data-toggle="tooltip" class="mr-2 tx-gray-500" title="" data-placement="top" data-original-title="Send Message"><i data-feather="mail" class="wd-16"></i></a>							 
                                       <a href="" data-toggle="tooltip" class="mr-2 tx-gray-500" title="" data-placement="top" data-original-title="Add to Fiend"><i data-feather="user-plus" class="wd-16"></i></a>							  
                                       <a href="" class="mr-2 tx-gray-500" data-toggle="tooltip" title="" data-placement="top" data-original-title="Flag User"><i data-feather="flag" class="wd-16"></i></a>
                                       <a href="" data-toggle="tooltip" class="tx-gray-500" title="" data-placement="top" data-original-title="More Options"><i data-feather="more-vertical" class="wd-16"></i></a>
                                    </nav>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <!--/ New Customers End -->
                  <!--================================-->
                  <!-- Transaction History Start -->	
                  <!--================================-->
                  <div class="col-lg-6 col-xl-4">
                     <div class="card mg-b-30">
                        <div class="card-header d-flex align-items-center justify-content-between">
                           <h6 class="tx-13 mb-0">Transaction History</h6>
                           <div class="card-header-btn">
                              <div class="dropdown">
                                 <a href="" class="" data-toggle="dropdown"><i class="ti-more"></i></a>
                                 <div class="dropdown-menu dropdown-menu-right">
                                    <a href="" class="dropdown-item"><i data-feather="info" class="wd-16 mr-2"></i>View Details</a>
                                    <a href="" class="dropdown-item"><i data-feather="share" class="wd-16 mr-2"></i>Share</a>
                                    <a href="" class="dropdown-item"><i data-feather="download" class="wd-16 mr-2"></i>Download</a>
                                    <a href="" class="dropdown-item"><i data-feather="copy" class="wd-16 mr-2"></i>Copy to</a>
                                    <a href="" class="dropdown-item"><i data-feather="folder" class="wd-16 mr-2"></i>Move to</a>
                                    <a href="" class="dropdown-item"><i data-feather="edit" class="wd-16 mr-2"></i>Rename</a>
                                    <a href="" class="dropdown-item"><i data-feather="trash" class="wd-16 mr-2"></i>Delete</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="card-body pd-0 pd-y-15">
                           <ul class="list-group list-group-flush tx-13">
                              <li class="list-group-item d-flex pd-y-9 pd-sm-x-20">
                                 <div class="d-none d-sm-block"><span class="wd-40 ht-40 mg-r-10 d-flex align-items-center justify-content-center rounded bg-primary tx-white"><i class="ti-check"></i></span></div>
                                 <div class="pd-sm-l-10">
                                    <p class="mg-b-0">Lorem Ipsum is simply <a href="" class="tx-dark mg-b-0 tx-semibold">#985632</a></p>
                                    <span class="tx-12 mg-b-0 tx-gray-500">Transaction ID: #857423</span>
                                 </div>
                                 <div class="mg-l-auto text-right">
                                    <p class="mg-b-0 tx-rubik">$4,550<small class="tx-8">.50</small></p>
                                    <span class="tx-success tx-12">Completed</span>
                                 </div>
                              </li>
                              <li class="list-group-item d-flex pd-y-9 pd-sm-x-20">
                                 <div class="d-none d-sm-block"><span class="wd-40 ht-40 mg-r-10 d-flex align-items-center justify-content-center rounded bg-warning tx-dark"><i class="ti-anchor"></i></span></div>
                                 <div class="pd-sm-l-10">
                                    <p class="mg-b-0">Lorem Ipsum is simply <a href="" class="tx-dark mg-b-0 tx-semibold">#698524</a></p>
                                    <span class="tx-12 mg-b-0 tx-gray-500">Transaction ID: #452356</span>
                                 </div>
                                 <div class="mg-l-auto text-right">
                                    <p class="mg-b-0 tx-rubik">$2,645<small class="tx-8">.40</small></p>
                                    <span class="tx-warning tx-12">Pending</span>
                                 </div>
                              </li>
                              <li class="list-group-item d-flex pd-y-9 pd-sm-x-20">
                                 <div class="d-none d-sm-block"><span class="wd-40 ht-40 mg-r-10 d-flex align-items-center justify-content-center rounded bg-primary tx-white"><i class="ti-check"></i></span></div>
                                 <div class="pd-sm-l-10">
                                    <p class="mg-b-0">Lorem Ipsum is simply <a href="" class="tx-dark mg-b-0 tx-semibold">#458762</a></p>
                                    <span class="tx-12 mg-b-0 tx-gray-500">Transaction ID: #354155</span>
                                 </div>
                                 <div class="mg-l-auto text-right">
                                    <p class="mg-b-0 tx-rubik">$3,248<small class="tx-8">.80</small></p>
                                    <span class="tx-success tx-12">Completed</span>
                                 </div>
                              </li>
                              <li class="list-group-item d-flex pd-y-9 pd-sm-x-20">
                                 <div class="d-none d-sm-block"><span class="wd-40 ht-40 mg-r-10 d-flex align-items-center justify-content-center rounded bg-warning tx-dark"><i class="ti-anchor"></i></span></div>
                                 <div class="pd-sm-l-10">
                                    <p class="mg-b-0">Lorem Ipsum is simply <a href="" class="tx-dark mg-b-0 tx-semibold">#698524</a></p>
                                    <span class="tx-12 mg-b-0 tx-gray-500">Transaction ID: #452356</span>
                                 </div>
                                 <div class="mg-l-auto text-right">
                                    <p class="mg-b-0 tx-rubik">$1,243<small class="tx-8">.60</small></p>
                                    <p class="mg-b-0 tx-12 tx-warning">Pending</p>
                                 </div>
                              </li>
                              <li class="list-group-item d-flex pd-y-9 pd-sm-x-20">
                                 <div class="d-none d-sm-block"><span class="wd-40 ht-40 mg-r-10 d-flex align-items-center justify-content-center rounded bg-primary tx-white"><i class="ti-check"></i></span></div>
                                 <div class="pd-sm-l-10">
                                    <p class="mg-b-0">Lorem Ipsum is simply <a href="" class="tx-dark mg-b-0 tx-semibold">#365845</a></p>
                                    <span class="tx-12 mg-b-0 tx-gray-500">Transaction ID: #748562</span>
                                 </div>
                                 <div class="mg-l-auto text-right">
                                    <p class="mg-b-0 tx-rubik">$5,319<small class="tx-10">.10</small></p>
                                    <span class="tx-success tx-12">Completed</span>
                                 </div>
                              </li>
                              <li class="list-group-item d-flex pd-y-9 pd-sm-x-20">
                                 <div class="d-none d-sm-block"><span class="wd-40 ht-40 mg-r-10 d-flex align-items-center justify-content-center rounded bg-danger tx-white"><i class="ti-close"></i></span></div>
                                 <div class="pd-sm-l-10">
                                    <p class="mg-b-0">Lorem Ipsum is simply <a href="" class="tx-dark mg-b-0 tx-semibold">#475821</a></p>
                                    <span class="tx-12 mg-b-0 tx-gray-500">Transaction ID: #457771</span>
                                 </div>
                                 <div class="mg-l-auto text-right">
                                    <p class="mg-b-0 tx-rubik">$4,347<small class="tx-8">.90</small></p>
                                    <span class="tx-danger tx-12">Canceled</span>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <!--/ Transaction History End -->
                  <!--================================-->
                  <!-- Customer Satisfaction Start -->	
                  <!--================================-->			  
                  <div class="col-xl-4">
                     <div class="card mg-b-30">
                        <div class="card-header d-flex align-items-center justify-content-between">
                           <h6 class="tx-13 mb-0">Customer Satisfaction</h6>
                           <div class="card-header-btn">
                              <div class="dropdown">
                                 <a href="" class="" data-toggle="dropdown"><i class="ti-more"></i></a>
                                 <div class="dropdown-menu dropdown-menu-right">
                                    <a href="" class="dropdown-item"><i data-feather="info" class="wd-16 mr-2"></i>View Details</a>
                                    <a href="" class="dropdown-item"><i data-feather="share" class="wd-16 mr-2"></i>Share</a>
                                    <a href="" class="dropdown-item"><i data-feather="download" class="wd-16 mr-2"></i>Download</a>
                                    <a href="" class="dropdown-item"><i data-feather="copy" class="wd-16 mr-2"></i>Copy to</a>
                                    <a href="" class="dropdown-item"><i data-feather="folder" class="wd-16 mr-2"></i>Move to</a>
                                    <a href="" class="dropdown-item"><i data-feather="edit" class="wd-16 mr-2"></i>Rename</a>
                                    <a href="" class="dropdown-item"><i data-feather="trash" class="wd-16 mr-2"></i>Delete</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="card-body">
                           <div class="d-flex align-items-baseline">
                              <h1 class="mg-b-0 mg-r-5">9.5<span class="tx-10 tx-success">(<i class="ti-arrow-up tx-8 tx-success tx-8 mr-1"></i>8.60%)</span></h1>
                              <div class="tx-16">
                                 <i class="fa fa-star tx-warning"></i>
                                 <i class="fa fa-star tx-warning"></i>
                                 <i class="fa fa-star tx-warning"></i>
                                 <i class="fa fa-star tx-warning"></i>
                                 <i class="fa fa-star-half-empty tx-warning"></i>
                              </div>
                           </div>
                           <p class="tx-11 tx-sm-12 mg-b-20 tx-gray-500">Habi tasse labo rum purus, vesti bulum at<span class="d-none d-sm-inline"> vivamus tempor port titor vulpu</span>... <a href="">Learn More</a></p>
                           <div class="card-progressbar">
                              <label class="tx-10 tx-uppercase tx-gray-500 mg-b-0">Score</label>
                              <div class="progress" style="height: 3px">
                                 <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                 <div class="progress-bar bg-danger" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                 <div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                 <div class="progress-bar bg-info" role="progressbar" style="width: 10%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                 <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                              <label class="tx-10 tx-uppercase tx-gray-500 mg-b-0">85%<i class="ti-arrow-up tx-8 tx-success tx-8 ml-1"></i></label>
                           </div>
                           <div class="list-group list-group-flush m-t-10 tx-13">
                              <div class="list-group-item pd-0 pd-y-10 d-flex align-items-center justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <div class="wd-12 ht-12 bd bd-3 rounded-circle bd-primary mr-2"></div>
                                    <span class="tx-semibold">Excellent</span>
                                 </div>
                                 <div class="d-flex align-items-center">
                                    <div class="mg-r-5">3,345</div>
                                    <div class="tx-10 tx-gray-500">(<i class="ti-arrow-up tx-8 tx-success tx-8 mr-1"></i>4.7%)</div>
                                 </div>
                              </div>
                              <div class="list-group-item pd-0 pd-y-10 d-flex align-items-center justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <div class="wd-12 ht-12 bd bd-3 rounded-circle bd-danger mr-2"></div>
                                    <span class="tx-semibold">Very Good</span>
                                 </div>
                                 <div class="d-flex align-items-center">
                                    <div class="mg-r-5">2,854</div>
                                    <div class="tx-10 tx-gray-500">(<i class="ti-arrow-down tx-8 tx-danger tx-8 mr-1"></i>5.8%)</div>
                                 </div>
                              </div>
                              <div class="list-group-item pd-0 pd-y-10 d-flex align-items-center justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <div class="wd-12 ht-12 bd bd-3 rounded-circle bd-warning mr-2"></div>
                                    <span class="tx-semibold">Good</span>
                                 </div>
                                 <div class="d-flex align-items-center">
                                    <div class="mg-r-5">2,145</div>
                                    <div class="tx-10 tx-gray-500">(<i class="ti-arrow-up tx-8 tx-success tx-8 mr-1"></i>2.8%)</div>
                                 </div>
                              </div>
                              <div class="list-group-item pd-0 pd-y-10 d-flex align-items-center justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <div class="wd-12 ht-12 bd bd-3 rounded-circle bd-info mr-2"></div>
                                    <span class="tx-semibold">Fair</span>
                                 </div>
                                 <div class="d-flex align-items-center">
                                    <div class="mg-r-5">1,574</div>
                                    <div class="tx-10 tx-gray-500">(<i class="ti-arrow-down tx-8 tx-danger tx-8 mr-1"></i>3.7%)</div>
                                 </div>
                              </div>
                              <div class="list-group-item pd-0 pd-y-10 d-flex align-items-center justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <div class="wd-12 ht-12 bd bd-3 rounded-circle bd-success mr-2"></div>
                                    <span class="tx-semibold">Poor</span>
                                 </div>
                                 <div class="d-flex align-items-center">
                                    <div class="mg-r-5">1,540</div>
                                    <div class="tx-10 tx-gray-500">(<i class="ti-arrow-up tx-8 tx-success tx-8 mr-1"></i>5.5%)</div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!--/ Customer Satisfaction End -->
               </div>
            </div>
            <!--/ Page Inner End -->
            <!--================================-->
            <!-- Page Footer Start -->	

            <!--/ Page Footer End -->		
         </div>
         <!--/ Page Content End -->
      </div>
      <!--/ Page Container End -->
      <!--================================-->
      <!-- Scroll To Top Start-->
      <!--================================-->	
      <a href="" data-click="scroll-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
      <!--/ Scroll To Top End -->
      <!--================================-->
      <!-- Template Customizer Start-->
      <!--================================-->		  

      <!--/ Template Customizer End -->
      <!--================================-->
      <!-- Footer Script -->
      <!--================================-->
      <script src="/static/main/assets/plugins/jquery/jquery.min.js"></script>
      <script src="/static/main/assets/plugins/jquery-ui/jquery-ui.js"></script>
      <script src="/static/main/assets/plugins/moment/moment.min.js"></script>
      <script src="/static/main/assets/plugins/popper/popper.js"></script>
      <script src="/static/main/assets/plugins/feather/feather.min.js"></script>
      <script src="/static/main/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
      <script src="/static/main/assets/plugins/typeahead/typeahead.js"></script>
      <script src="/static/main/assets/plugins/typeahead/typeahead-active.js"></script>
      <script src="/static/main/assets/plugins/pace/pace.min.js"></script>
      <script src="/static/main/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
      <script src="/static/main/assets/plugins/highlight/highlight.min.js"></script>
      <!-- Dashboard Script -->
      <script src="/static/main/assets/plugins/daterangepicker/daterangepicker.js"></script>
      <script src="/static/main/assets/plugins/jqvmap/jquery-jvectormap-2.0.2.min.js"></script>
      <script src="/static/main/assets/plugins/jqvmap/gdp-data.js"></script>
      <script src="/static/main/assets/plugins/jqvmap/maps/jquery-jvectormap-world-mill-en.js"></script>
      <script src="/static/main/assets/plugins/chartist/chartist.js"></script>
      <script src="/static/main/assets/plugins/apex-chart/apexcharts.min.js"></script>
      <script src="/static/main/assets/plugins/apex-chart/irregular-data-series.js"></script>
      <script src="/static/main/assets/plugins/flot/jquery.flot.js"></script>
      <script src="/static/main/assets/plugins/flot/jquery.flot.pie.js"></script>
      <script src="/static/main/assets/plugins/flot/jquery.flot.resize.js"></script>
      <script src="/static/main/assets/plugins/flot/sampledata.js"></script>
      <script src="/static/main/assets/js/dashboard/sales-dashboard-init.js"></script>
      <!-- Required Script -->
      <script src="/static/main/assets/js/app.js"></script>
      <script src="/static/main/assets/js/avesta.js"></script>
      <script src="/static/main/assets/js/avesta-customizer.js"></script>
      <!-- Javascript -->
      <script>
         //World Map
         "use strict";
         $(document).ready(function () {
         	// World Map
         	$('#world-map').vectorMap({
         		map: 'world_mill_en',
         		backgroundColor: 'transparent',
         		markerStyle: {
         			initial: {
         				fill: '#2e2e2e',
         				stroke: '#2e2e2e',
         				"fill-opacity": 1,
         				"stroke-width": 15,
         				"stroke-opacity": 0.2
         			}
         		},
         		markers: [{
         				latLng: [37.18, -93.35],
         				name: 'United States'
         			},
         			{
         				latLng: [20.59, 78.96],
         				name: 'India'
         			},
         			{
         				latLng: [-25.27, 133.77],
         				name: 'Australia'
         			},
         			{
         				latLng: [-38.41, -63.61],
         				name: 'Argentina'
         			},
         			{
         				latLng: [61.52, 105.31],
         				name: 'Russia'
         			},
         			{
         				latLng: [-30.55, 22.93],
         				name: 'South Africa'
         			},
         		],
         		focusOn: {
         			x: 0,
         			y: 0,
         			scale: 1
         		},
         		series: {
         			regions: [{
         				values: {
         					US: 'rgba(148, 77, 255, 0.3)',
         					AU: 'rgba(255, 228, 17, 0.3)',
         					IN: 'rgba(8, 210, 111, 0.3)',
         					AR: 'rgba(252, 79, 104, 0.3)',
         					RU: 'rgba(129, 206, 246, 0.3)',
         					ZA: 'rgba(252, 79, 104, 0.3)',
         				}
         			}]
         		},
         		regionStyle: {
         			initial: {
         				fill: '#e9eff9'
         			}
         		}
         	});
         
         });
         
         // Dashboard DateTimePicker
         $(function() {
         var isRtl = $('body').attr('dir') === 'rtl' || $('html').attr('dir') === 'rtl';
         
         // Button         
         var start = moment().subtract(29, 'days');
         var end = moment();
         
         function cb(start, end) {
         $('#dashboardDate').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
         }         
         $('#dashboardDate').daterangepicker({
         startDate: start,
         endDate: end,
         ranges: {
         'Today': [moment(), moment()],
         'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
         'Last 7 Days': [moment().subtract(6, 'days'), moment()],
         'Last 30 Days': [moment().subtract(29, 'days'), moment()],
         'This Month': [moment().startOf('month'), moment().endOf('month')],
         'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
         },
         opens: (isRtl ? 'left' : 'right')
         }, cb);         
         cb(start, end);         
         
         // Replace icons         
         $('#dashboardDate').each(function() {
         var obj = $(this).data('daterangepicker');
         var _updateCalendars = obj.updateCalendars;         
         obj.updateCalendars = function() {
         // Call original function
         _updateCalendars.call(obj)         
         // Replace icons
         obj.container.find('.prev > i').each(function() { this.className = 'ion ion-ios-arrow-back' });
         obj.container.find('.next > i').each(function() { this.className = 'ion ion-ios-arrow-forward' });
         obj.container.find('.daterangepicker_input > i').each(function() { this.className = 'ion ion-md-calendar' });
         obj.container.find('.calendar-time > i').each(function() { this.className = 'ion ion-md-time' });
         };
         });
         });
      </script>
      <!-- / Javascript -->
{% endblock %}