{% extends "main/base.html" %}

{% block title_h1 %}Добавление новой ткани{% endblock %}

{% block body_content %}

<form method="POST" class="post-form">{% csrf_token %}
    <div class="row">
        <div class="col-xl-6">
            <div class="form-layout form-layout-4">
               <p class="mg-b-30 tx-gray-700">Введите данные по ткани.</p>

               <!-- row -->
               <div class="row mg-t-20">
                  <label class="col-sm-4 form-control-label">Коллекция:</label>
                  <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                     {{ form.collection }}
                  </div>
               </div>
                <div class="row mg-t-20">
                  <label class="col-sm-4 form-control-label">Модель:</label>
                  <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                     {{ form.model }}
                  </div>
               </div>
                <div class="row mg-t-20">
                  <label class="col-sm-4 form-control-label">Цвет:</label>
                  <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                     {{ form.color }}
                  </div>
               </div>
                <div class="row mg-t-20">
                  <label class="col-sm-4 form-control-label">Высота:</label>
                  <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                     {{ form.height }}
                  </div>
               </div>
                <div class="row mg-t-20">
                  <label class="col-sm-4 form-control-label">Цена:</label>
                  <div class="col-sm-5 mg-t-10 mg-sm-t-0">
                     {{ form.price_opt }}
                  </div>
                    <div class="col-sm-3 mg-t-10 mg-sm-t-0">
                     {{ form.currency }}
                  </div>
               </div>

               <!-- row -->
               <div class="row mg-t-30">
                  <div class="col-sm-8">
                     <div class="form-layout-footer">
                        <button type="Submit" class="btn btn-primary">Создать</button>
                        <a href="{{request.META.HTTP_REFERER|escape}}" class="btn btn-secondary">Отменить</a>
                     </div>
                     <!-- form-layout-footer -->
                  </div>
                  <!-- col-8 -->
               </div>
            </div>
            <!-- form-layout -->
         </div>

    </div>
 </form>
</br>
{% endblock %}