{% extends "main/base.html" %}

{% block title_h1 %}
<a href="{% url 'common:textile_filter' collection_id='all' model_id='all'%}">Текстиль</a> / <a href="{% url 'common:collection_textile_list'%}">Коллекции</a>
{% endblock %}
{% block breadcrumb_buttons %}
{% if user.is_authenticated %}
    {% if request.user|has_group:"designer" %}
    {% else %}
        {% if settings.value == 0 %}
            <button onclick="location.href='{% url 'markup:markup_view' id='1'%}'" type="button" class="btn btn-secondary mr-2 d-none d-none d-lg-block pd-t-6-force pd-b-5-force">
            <i data-feather="eye" class="wd-16 mr-2"></i>Режим дизайнера</button>
        {% else %}
            <button onclick="location.href='{% url 'markup:markup_view' id='0'%}'" type="button" class="btn btn-secondary mr-2 d-none d-none d-lg-block pd-t-6-force pd-b-5-force">
            <i data-feather="eye" class="wd-16 mr-2"></i>Режим менеджера</button>
        {% endif %}
        <button onclick="location.href='{% url 'common:textile_add' %}'" type="button" class="btn btn-secondary mr-2 d-none d-none d-lg-block pd-t-6-force pd-b-5-force">
        <i data-feather="plus" class="wd-16 mr-2"></i>Добавить ткань</button>
    {% endif %}
{% endif %}
{% endblock %}

{% block body_content %}
                     <!-- Filtering FooTable Start -->
                     <!--================================-->

                     <div class="col-md-12 col-lg-12">
                         <div class="card-body pd-0">
                           <div class="row">
                             <div class="mg-20 form-inline wd-100p">
                                <div
                                        {% if current_c == 'all' %}
                                            class="col-sm-5">
                                        {% else %}
                                            class="col-sm-8">
                                        {% endif %}

                                    <div class="input-group mb-3">
                                       <div class="input-group-prepend">
                                          <span class="input-group-text">Коллекция</span>
                                       </div>
                                       <select id="textile_collection" class="custom-select">
                                           <option value="all">Показать все</option>

                                          {% for c in collection %}
                                            {% if c.name == current_c %}
                                                <option selected value="{{c.id}}">{{c.name|title}}</option>
                                            {% else %}
                                                <option value="{{c.id}}">{{c.name|title}}</option>
                                            {% endif %}
                                          {% endfor %}
                                      </select>
                                        <div class="input-group-prepend mg-l-10" {% if current_c != 'all' %} {%else%} hidden {%endif%}>
                                          <span class="input-group-text">Модель</span>
                                       </div>
                                       <select id="textile_model" class="custom-select" {% if current_c != 'all' %} {%else%} hidden {%endif%}>
                                         <option value="all">Показать все</option>
                                          {% for m in models %}
                                            {% if m.model == current_m %}
                                                <option selected value="{{m.model}}">{{m.model|title}}</option>
                                            {% else %}
                                                <option value="{{m.model}}">{{m.model|title}}</option>
                                            {% endif %}
                                          {% endfor %}
                                       </select>
                                        <div class="form-layout-footer">
                                            <button type="button" id="button-textile" class="btn btn-primary mg-l-10">Фильтр</button>
                                        </div>

                                    </div>
                                </div>


                             </div>
                          </div>
                        <div class="card mg-b-30">

                              <table id="foo-filtering" class="table table-bordered table-hover toggle-circle" data-page-size="300">
                                  <thead class="tx-10 tx-uppercase">
                                     <tr>
                                        <th>Артикул</th>
                                         {% if request.user|has_group:"designer" %}
                                         {% else %}
                                            <th>Поставщик</th>
                                         {% endif %}

                                        <th>Коллекция</th>
                                        <th>Модель</th>
                                        <th>Цвет</th>
                                         <th>СМ</th>
                                         <th>Цена</th>

                                        {% if request.user|has_group:"designer" %}
                                         {% else %}
                                            <th class="tx-right">Действия</th>
                                         {% endif %}
                                     </tr>
                                  </thead>
                                  {% load mathfilters %}
                                 <tbody>
                                    {% for q in qs %}

                                        <tr class="odd gradeX">
                                            <td>{{q.article}}</td>
                                            {% if request.user|has_group:"designer" %}
                                            {% else %}
                                                <td>{{ q.manufacturer }}</td>
                                            {% endif %}

                                            <td>{{ q.collection }}</td>
                                            <td>{{ q.model }}</td>
                                            <td>{{ q.color }}</td>
                                            <td>{{ q.height }}</td>
                                            <td>
                                                {% if request.user|has_group:"designer" or settings.value == 1 %}
                                                    {% if q.currency == '$' %}
                                                        {{ q.price_opt|mul:markup|mul:markup_c|floatformat|get_currency_price:1 }} руб. (${{ q.price_opt|mul:markup|mul:markup_c|floatformat }})
                                                    {% elif q.currency == 'euro' %}
                                                        {{ q.price_opt|mul:markup|mul:markup_c|floatformat|get_currency_price:2 }} руб. (€{{ q.price_opt|mul:markup|mul:markup_c|floatformat }})
                                                    {% else %}
                                                        {{ q.price_opt|mul:markup|mul:markup_c|floatformat }} руб.
                                                    {% endif %}
                                                {% else %}
                                                    {% if q.currency == '$' %}
                                                        {{ q.price_opt|get_currency_price:1 }} руб. (${{ q.price_opt }})
                                                    {% elif q.currency == 'euro' %}
                                                        {{ q.price_opt|get_currency_price:2 }} руб. (€{{ q.price_opt }})
                                                    {% else %}
                                                        {{ q.price_opt }} руб.
                                                    {% endif %}
                                                {% endif %}

                                            </td>
                                            {% if request.user|has_group:"designer" %}
                                            {% else %}

                                                <td class="tx-right">
                                                    <a href="{% url 'common:textile_edit' id=q.id %}"  title="" data-toggle="tooltip" data-original-title="Изменить"><i data-feather="edit-3" class="wd-16 mr-2"></i></a>
                                                    <a href="{% url 'common:textile_remove' id=q.id %}" title="" data-toggle="tooltip" data-original-title="Удалить"><i data-feather="x" class="wd-16"></i></a>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}

                                 </tbody>
                                 <tfoot>
                                    <tr>
                                       <td colspan="5">
                                          <div class="ft-right">
                                             <ul class="pagination"></ul>
                                          </div>
                                       </td>
                                    </tr>
                                 </tfoot>
                              </table>
                           </div>
                        </div>
                     </div>
                     <!--/ Filtering FooTable End -->
{% endblock %}

