{% extends "main/base.html" %}

{% block title_h1 %}
<a href="{% url 'common:textile_filter' collection_id='all' model_id='all'%}">Текстиль</a> / <a href="{% url 'common:collection_textile_list'%}">Коллекции</a>
{% endblock %}
{% block breadcrumb_buttons %}
{% if user.is_authenticated %}
    {% if request.user|has_group:"designer" %}
    {% else %}
        <button onclick="location.href='{% url 'common:collection_textile_add' %}'" type="button" class="btn btn-secondary mr-2 mb-2 mb-md-0 d-none d-lg-block pd-t-6-force pd-b-5-force">
        <i data-feather="plus" class="wd-16 mr-2"></i>Добавить коллекцию</button>
    {% endif %}
{% endif %}
{% endblock %}

{% block body_content %}
                     <!-- Filtering FooTable Start -->
                     <!--================================-->
                     <div class="col-md-12 col-lg-12">
                        <div class="card mg-b-30">

                           <div class="card-body pd-0">
                            <div class="row">
                                 <div class="mg-20 form-inline wd-100p">
                                    <div class="col-sm-6">
                                       <div class="form-group">
                                           <span>Поставщик:</span>

                                          <select id="foo-filter-status" class="custom-select custom-select-sm mg-l-10">
                                             <option value="">Показать все</option>
                                              {% for c in manufactor %}
                                                <option value="{{c.name}}">{{c.name|title}}</option>
                                              {% endfor %}

                                          </select>
                                       </div>
                                    </div>
                                    <div class="col-sm-6">
                                       <div class="form-group ft-right">
                                          <input id="foo-search" type="text" placeholder="Поиск" class="form-control form-control-sm" autocomplete="off">
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <table id="foo-filtering" class="table table-bordered table-hover toggle-circle" data-page-size="50">
                                  <thead class="tx-10 tx-uppercase">
                                     <tr>
                                         <th>ID</th>
                                         <th>Поставщик</th>
                                         <th>Коллекция</th>
                                         <th>Позиции</th>
                                         <th class="tx-right">Действия</th>
                                     </tr>
                                  </thead>
                                  {% load mathfilters %}
                                 <tbody>
                                    {% for q in collection %}

                                        <tr class="odd gradeX">
                                            <td>{{q.id}}</td>
                                            <td>{{ q.manufacturer }}</td>
                                            <td>{{ q.name }}</td>
                                            <td> <a href="{% url 'common:textile_filter' collection_id=q.id model_id='all' %}">{{ q|get_textile_count }}</a></td>
                                            <td class="tx-right">
                                                <a href="{% url 'common:collection_textile_edit' id=q.id %}"  title="" data-toggle="tooltip" data-original-title="Изменить"><i data-feather="edit-3" class="wd-16 mr-2"></i></a>
                                                <a href="{% url 'common:collection_textile_remove' id=q.id %}" title="" data-toggle="tooltip" data-original-title="Удалить"><i data-feather="x" class="wd-16"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                 </tbody>
                                 <tfoot>
                                    <tr>
                                       <td colspan="5">
                                          <div class="ft-right">
                                             <ul class="pagination"></ul>
                                          </div>
                                       </td>
                                    </tr>
                                 </tfoot>
                              </table>
                           </div>
                        </div>
                     </div>
                     <!--/ Filtering FooTable End -->
{% endblock %}

