{% extends "main/base.html" %}

{% block title_h1 %}Текстиль{% endblock %}

{% block body_content %}
                     <!-- Filtering FooTable Start -->
                     <!--================================-->
                     <div class="col-md-12 col-lg-12">
                         <div class="card-body pd-0">
                           <div class="row">
                             <div class="mg-20 form-inline wd-100p">
                                <div class="col-sm-8">
                                    <div class="input-group mb-3">
                                       <div class="input-group-prepend">
                                          <span class="input-group-text">Коллекция</span>
                                       </div>
                                       <select id="textile_collection" class="custom-select">
                                           <option value="all">Показать все</option>

                                          {% for c in collection %}
                                            {% if c.name == current_c %}
                                                <option selected value="{{c.id}}">{{c.name|title}}</option>
                                            {% else %}
                                                <option value="{{c.id}}">{{c.name|title}}</option>
                                            {% endif %}
                                          {% endfor %}
                                      </select>
                                        <div class="input-group-prepend mg-l-10">
                                          <span class="input-group-text">Модель</span>
                                       </div>
                                       <select id="textile_model" class="custom-select">
                                         <option value="all">Показать все</option>
                                          {% for m in models %}
                                            {% if m.model == current_m %}
                                                <option selected>{{m.model|title}}</option>
                                            {% else %}
                                                <option value="{{m.model}}">{{m.model|title}}</option>
                                            {% endif %}
                                          {% endfor %}
                                      </select>
                                        <div class="form-layout-footer">
                                            <button type="button" id="button-textile-designer" value="{{id}}" class="btn btn-primary mg-l-10">Фильтр</button>
                                        </div>
                                    </div>



                                </div>

                             </div>
                          </div>

                        <div class="card mg-b-30">

                           <div class="card-body pd-0">

                              <table id="foo-filtering" class="table table-bordered table-hover toggle-circle" data-page-size="50">
                                  <thead class="tx-10 tx-uppercase">
                                     <tr>
                                        <th>ID</th>
                                        <th>Коллекция</th>
                                        <th>Модель</th>
                                         <th>СМ</th>
                                        <th>Цвет</th>
                                         <th>Цена</th>
                                         <th>Склад</th>
                                        <th class="tx-center">Действия</th>
                                     </tr>
                                  </thead>
                                 <tbody>
                                    {% load mathfilters %}
                                    {% for q in qs %}

                                        <tr class="odd gradeX">
                                            <td>{{ q.id }}</td>
                                            <td>{{ q.collection.name }}</td>
                                            <td>{{ q.model }}</td>
                                            <td>{{ q.height }}</td>
                                            <td>{{ q.color }}</td>
                                            <td>
                                                {% if q.currency == '$' %}
                                                    {{ q.price_opt|mul:markup|floatformat|get_currency_price:1 }} руб. (${{ q.price_opt|mul:markup|floatformat }})
                                                {% elif q.currency == 'euro' %}
                                                    {{ q.price_opt|mul:markup|floatformat|get_currency_price:2 }} руб. (€{{ q.price_opt|mul:markup|floatformat }})
                                                {% else %}
                                                    {{ q.price_opt|mul:markup|floatformat }} руб.
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% for s in storage %}
                                                    {% if s.item == q %}
                                                        {% get_storage_item s.id as storage_result %}
                                                            {{ storage_result }}
                                                    {% endif %}
                                                {% endfor %}

                                            </td>
                                            <td class="tx-center">
                                                <a href="{% url 'main:sp_add_textile' id=id prod_id=q.id%}"  title="" data-toggle="tooltip" data-original-title="Выбрать"><i data-feather="plus" class="wd-16 mr-2"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                 </tbody>
                                 <tfoot>
                                    <tr>
                                       <td colspan="5">
                                          <div class="ft-right">
                                             <ul class="pagination"></ul>
                                          </div>
                                       </td>
                                    </tr>
                                 </tfoot>
                              </table>
                               <div class="row mg-t-30">
                              <div class="col-sm-8">
                                 <div class="form-layout-footer">
                                     <a href="{{request.META.HTTP_REFERER|escape}}" class="btn btn-secondary">Назад</a>
                                 </div>
                                 <!-- form-layout-footer -->
                              </div>
                              <!-- col-8 -->
                           </div>
                           </div>
                        </div>
                     </div>
                     <!--/ Filtering FooTable End -->
{% endblock %}

