{% extends "main/base.html" %}

{% block title_h1 %}Текстиль{% endblock %}

{% block body_content %}
                     <!-- Filtering FooTable Start -->
                     <!--================================-->
                     <div class="col-md-12 col-lg-12">
                         <p id="endpoint-collection" hidden>{% url 'common:collection_json' %}</p>
                         <p id="endpoint-model" hidden>{% url 'common:model_json' %}</p>
                         <p id="current-collection" hidden>{{current_c}}</p>
                         <p id="current-model" hidden>{{current_m}}</p>
                         <div class="card-body pd-0">
                           <div class="row">
                             <div class="mg-20 form-inline wd-100p">
                                <div class="col-sm-8">

                                    <div class="input-group mb-3">
                                           <div class="input-group-prepend">
                                              <span class="input-group-text">Коллекция</span>
                                           </div>
                                           <select id="collection-data-box" class="custom-select">
                                               <option value="all">Показать все</option>
                                           </select>



                                           <div class="input-group-prepend mg-l-5" >
                                              <span class="input-group-text">Модели</span>
                                           </div>
                                           <select id="model-data-box" class="custom-select">
                                               <option value="all">Показать все</option>
                                           </select>
                                            <div class="form-layout-footer">
                                                 <button type="submit" id="button-textile-designer" value="{{id}}" class="btn btn-primary mg-l-10">Фильтр</button>
                                            </div>


                                    </div>


                                </div>

                             </div>
                          </div>

                        <div class="card mg-b-30">

                           <div class="card-body pd-0">

                              <table id="foo-filtering" class="table table-bordered table-hover toggle-circle" data-page-size="50">
                                  <thead class="tx-10 tx-uppercase">
                                     <tr>
                                        <th>ID</th>
                                        <th>Коллекция</th>
                                        <th>Модель</th>
                                         <th>СМ</th>
                                        <th>Цвет</th>
                                         <th>Цена</th>
                                         <th>Склад</th>
                                        <th class="tx-center">Действия</th>
                                     </tr>
                                  </thead>
                                 <tbody>
                                    {% load mathfilters %}
                                    {% for q in qs %}

                                        <tr class="odd gradeX">
                                            <td>{{ q.id }}</td>
                                            <td>{{ q.collection.name }}</td>
                                            <td>{{ q.model }}</td>
                                            <td>{{ q.height }}</td>
                                            <td>{{ q.color }}</td>
                                            <td>
                                                {% if q.id|get_storage_price %}
                                                    {{q.id|get_storage_price|mul:markup|floatformat}} {{q.currency}}
                                                {% else %}
                                                    {% if q.currency == '$' %}
                                                        {{ q.price_opt|mul:markup|floatformat|get_currency_price:1 }} руб. (${{ q.price_opt|mul:markup|floatformat }})
                                                    {% elif q.currency == 'euro' %}
                                                        {{ q.price_opt|mul:markup|floatformat|get_currency_price:2 }} руб. (€{{ q.price_opt|mul:markup|floatformat }})
                                                    {% else %}
                                                        {{ q.price_opt|mul:markup|floatformat }} руб.
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% for s in storage %}
                                                    {% if s.item == q %}
                                                        {% get_storage_item s.id as storage_result %}
                                                            {{ storage_result }}
                                                    {% endif %}
                                                {% endfor %}

                                            </td>
                                            <td class="tx-center">
                                                <a href="{% url 'main:sp_add_textile' id=id prod_id=q.id%}"  title="" data-toggle="tooltip" data-original-title="Выбрать"><i data-feather="plus" class="wd-16 mr-2"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                 </tbody>
                                 <tfoot>
                                    <tr>
                                       <td colspan="8">
                                          <div class="ft-right">
                                             <ul class="pagination"></ul>
                                          </div>
                                       </td>
                                    </tr>
                                 </tfoot>
                              </table>
                               <div class="row mg-t-30">
                              <div class="col-sm-8">
                                 <div class="form-layout-footer">
                                     <a href="{{request.META.HTTP_REFERER|escape}}" class="btn btn-secondary">Назад</a>
                                 </div>
                                 <!-- form-layout-footer -->
                              </div>
                              <!-- col-8 -->
                           </div>
                           </div>
                        </div>
                     </div>
                     <!--/ Filtering FooTable End -->
{% load static %}

<script src="{% static 'main/assets/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'main/assets/plugins/jquery-ui/jquery-ui.js' %}"></script>
<script src="{% static 'main/assets/test_textile.js' %}"></script>
{% endblock %}

