{% extends "main/base.html" %}

{% block title_h1 %}Добавление дополнительных материалов к заказу{% endblock %}

{% block body_content %}
                     <!-- Filtering FooTable Start -->
                     <!--================================-->
                     <div class="col-md-12 col-lg-12">
                        <div class="card mg-b-30">

                           <div class="card-body pd-0">
                            <div class="row">
                                 <div class="mg-20 form-inline wd-100p">
                                    <div class="col-sm-6">
                                       <div class="form-group">
                                           <span>Категория:</span>

                                          <select id="foo-filter-status" class="custom-select custom-select-sm mg-l-10">
                                             <option value="">Показать все</option>
                                              {% for c in collection %}
                                                <option value="{{c.name}}">{{c.name|title}}</option>
                                              {% endfor %}

                                          </select>
                                       </div>
                                    </div>
                                    <div class="col-sm-6">
                                       <div class="form-group ft-right">
                                          <input id="foo-search" type="text" placeholder="Поиск" class="form-control form-control-sm" autocomplete="off">
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <table id="foo-filtering" class="table table-bordered table-hover toggle-circle" data-page-size="50">
                                  <thead class="tx-10 tx-uppercase">
                                     <tr>
                                         <th>ID</th>
                                         <th>Коллекция</th>
                                         <th>Категория</th>
                                         <th>Наименование</th>
                                         <th>Тип</th>
                                         <th>Цвет</th>
                                         <th>Цена</th>
                                         <th class="tx-right">Действия</th>
                                     </tr>
                                  </thead>
                                  {% load mathfilters %}
                                 <tbody>
                                    {% for q in additional %}

                                        <tr class="odd gradeX">
                                            <td id="options-id">{{q.id}}</td>
                                            <td>{{ q.additional.collection.name }}</td>
                                            <td>{{ q.additional.category }}</td>
                                            <td>{{ q.additional.name }}</td>
                                            <td>{{ q.type_p }}</td>
                                            <td>
                                                <select id="select-color-cornice-{{q.id}}" class="custom-select custom-select-sm">
                                                     <option value="">Выберете цвет</option>
                                                      {% for c in q.additional.collection.color.all %}
                                                        <option value="{{c.id}}">{{c.color}}</option>
                                                      {% endfor %}

                                                </select>

                                            </td>
                                            <td>{{ q.price }}</td>

                                            <td class="tx-right">
                                                <span id="sp-id" hidden>{{sp.id}}</span>
                                                <a  href="#" onclick="ChoiceAdditional({{q.id}});" title="" data-toggle="tooltip" data-original-title="Добавить"><i data-feather="plus" class="wd-16 mr-2"></i></a>
                                            </td>

                                        </tr>
                                    {% endfor %}

                                 </tbody>
                                 <tfoot>
                                    <tr>
                                       <td colspan="5">
                                          <div class="ft-right">
                                             <ul class="pagination"></ul>
                                          </div>
                                       </td>
                                    </tr>
                                 </tfoot>
                              </table>
                           </div>
                        </div>
                     </div>
                     <!--/ Filtering FooTable End -->
{% endblock %}

