{% extends "main/base.html" %}

{% block title %}{% endblock %}
{% block title_h1 %}Добавить доп.материал карниза к заказу{% endblock %}



{% block body_content %}

<form method="POST" class="post-form">{% csrf_token %}
    <div class="row">
        <div class="col-xl-6">
            <div class="form-layout form-layout-4">
                <div class="col-sm-8 mg-t-10 mg-sm-t-0" hidden>
                    {{ form.order }} {{ form.specification }} {{ form.item }} {{ form.markup }}
                </div>
                <p class="mg-b-30 tx-gray-700">Введите количество доп.материала.</p>
                <div class="row">
                    <label class="col-sm-4 form-control-label">Доп:</label>
                    <div class="col-sm-8 mg-t-10 mg-sm-t-0">
                        {{ additional.category }}: {{ additional.name }}
                    </div>
                </div>
                <div class="row mg-t-20">
                    <label class="col-sm-4 form-control-label">Количество:</label>
                    <div class="col-sm-6 mg-t-10 mg-sm-t-0">
                        {{ form.quantity }}
                    </div>
                </div>
                <br>
               <!-- row -->

               <!-- row -->
               <div class="row mg-t-30">
                  <div class="col-sm-8">
                     <div class="form-layout-footer">
                        <button type="Submit" class="btn btn-primary">Добавить</button>
                         <a href="{{request.META.HTTP_REFERER|escape}}" class="btn btn-secondary">Отменить</a>
                     </div>
                     <!-- form-layout-footer -->
                  </div>
                  <!-- col-8 -->
               </div>
            </div>
            <!-- form-layout -->
         </div>

    </div>
</form>
</br>
{% endblock %}