{% extends "main/base.html" %}

{% block title %}{% endblock %}
{% block title_h1 %}Добавить материал к заказу{{ order }}{% endblock %}



{% block body_content %}

<form method="POST" class="post-form">{% csrf_token %}
    <div class="row">
        <div class="col-xl-6">
            <div class="form-layout form-layout-4">
                {% for q in rooms %}
                <p class="mg-b-10 tx-gray-700">Введите комментарии к помещению <strong>{{ q.name }}</strong></p>
                    <div class="row">
                        <label class="col-sm-4 form-control-label">Комментарий 1:</label>
                        <div class="col-sm-6 mg-t-10 mg-sm-t-0">
                            <input type="text" class="form-control form-control-sm" name="comment1-{{q.id}}" placeholder="Comment1" aria-describedby="basic-addon3">
                        </div>
                    </div>
                    <div class="row mg-t-20">
                        <label class="col-sm-4 form-control-label">Комментарий 2:</label>
                        <div class="col-sm-6 mg-t-10 mg-sm-t-0">
                            <input type="text" class="form-control form-control-sm" name="comment2-{{q.id}}" placeholder="Comment2" aria-describedby="basic-addon3">
                        </div>
                    </div>
                    <br>
                    <br>
                {% endfor %}
            </div>

               <!-- row -->

               <!-- row -->
           <div class="row mg-t-30">
              <div class="col-sm-8">
                 <div class="form-layout-footer">
                    <button type="Submit" class="btn btn-primary">Добавить</button>
                     <a href="{{request.META.HTTP_REFERER|escape}}" class="btn btn-secondary">Отменить</a>
                 </div>
                 <!-- form-layout-footer -->
              </div>
              <!-- col-8 -->
           </div>
            <!-- form-layout -->
         </div>


    </div>
 </form>
</br>
{% endblock %}