{% extends "main/base.html" %}

{% block title %} Заказы{% endblock %}
{% block title_h1 %}Все заказы{% endblock %}
{% block breadcrumb %}Заказы{% endblock %}
{% block breadcrumb_buttons %}
    <button onclick="location.href='{% url 'main:order_create' %}'" type="button" class="btn btn-secondary mb-2 mb-md-0 d-none d-lg-block pd-t-6-force pd-b-5-force" >
    <i data-feather="file-plus" class="wd-16 mr-2"></i>Новый заказ</button>
{% endblock %}

{% block body_content %}
                     <!-- Filtering FooTable Start -->
                     <!--================================-->
                     <div class="col-md-12 col-lg-12">
                        <div class="card mg-b-30">

                           <div class="card-body pd-0">
                              <div class="row">
                                 <div class="mg-20 form-inline wd-100p">
                                    <div class="col-sm-6">
                                       <div class="form-group">

                                          <select id="foo-filter-status" class="form-control">
                                             <option value="">Показать все</option>
                                             <option value="Запланирован">Запланирован</option>
                                             <option value="disabled">Disabled</option>
                                             <option value="suspended">Suspended</option>
                                          </select>
                                       </div>
                                    </div>
                                    <div class="col-sm-6">
                                       <div class="form-group ft-right">
                                          <input id="foo-search" type="text" placeholder="Поиск" class="form-control" autocomplete="off">
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <table id="foo-filtering" class="table table-bordered table-hover toggle-circle" data-page-size="50">
                                  <thead class="tx-10 tx-uppercase">
                                     <tr>
                                        <th>ID заказа</th>
                                        <th>Клиент</th>
                                        <th>Источник</th>
                                        <th>Создан</th>
                                        <th>Статус</th>
                                         <th>Прогресс</th>
                                        <th class="tx-right">Действия</th>
                                     </tr>
                                  </thead>
                                 <tbody>
                                    {% for q in orders %}

                                        <tr class="odd gradeX">
                                            <td><a href="{{ q.get_absolute_url}}">{{q.number}}
                                            {% if q.status == 9 %}
                                                <span class="badge badge-pill badge-success">ready</span>
                                            {% endif %}

                                            </a></td>
                                            <td>
                                                {% for cus in customer %}
                                                    {% for ord in cus.order.all %}
                                                        {% if q.number == ord.number %}
                                                            {{cus.name}}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for cus in customer %}
                                                    {% for ord in cus.order.all %}
                                                        {% if q.number == ord.number %}
                                                            {{cus.get_source_t_display}}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                            </td>
                                            <td>{{q.date_created|date:'d/m/Y'}}</td>
                                            <td><span class="badge badge-{{q.get_status_css_display}}">{{q.get_status_display}}</span></td>
                                            <td>
                                                {% if q.get_progress_display %}
                                                    <div class="progress">
                                                        <div class="badge badge-secondary" role="progressbar" style="width: {{q.get_progress_display}}%" aria-valuenow="{{q.get_progress_display}}" aria-valuemin="0" aria-valuemax="100">{{q.get_progress_display}}%</div>
                                                    </div>
                                                {% endif %}
                                            </td>
                                            <td class="tx-right">
                                                {% if q.status == 9 %}
                                                    <a href="{% url 'manager:order_ready' id=q.id%}"  title="" data-toggle="tooltip" data-original-title="Заказ выдан"><i data-feather="check-circle" class="wd-16 mr-2"></i></a>
                                                {% endif %}
                                                {% if q.status == 11 %}
                                                {% else %}
                                                    <a href="{{ q.get_absolute_url}}"  title="" data-toggle="tooltip" data-original-title="Изменить"><i data-feather="edit-3" class="wd-16 mr-2"></i></a>
                                                    <a href="{{ q.archive}}" title="" data-toggle="tooltip" data-original-title="В архив"><i data-feather="archive" class="wd-16"></i></a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}

                                 </tbody>
                                 <tfoot>
                                    <tr>
                                       <td colspan="5">
                                          <div class="ft-right">
                                             <ul class="pagination"></ul>
                                          </div>
                                       </td>
                                    </tr>
                                 </tfoot>
                              </table>
                           </div>
                        </div>
                     </div>
                     <!--/ Filtering FooTable End -->
{% endblock %}

