<!DOCTYPE html>
<html lang="zxx">
   <head>
      <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="keyword" content="">
      <meta name="author"  content=""/>
      <!-- Page Title -->
      <title>Offer #{{order.number}}_{{ order.date_created|date:'Ymd' }}</title>
      <!-- Main CSS -->	  
      <link type="text/css" rel="stylesheet" href="/static/main/assets/css/style.css"/>
      <!-- Favicon -->	
      <link rel="icon" href="/static/main/assets/images/favicon.ico" type="image/x-icon">
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn"t work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body>

      <div class="page-container">

         <div class="page-content">

            <div class="page-inner pd-0-force mg-0-force bg-white">
               <div class="row no-gutters pd-b-30 pd-t-30 wd-100p clearfix">
                  <!--================================-->
                  <!--  Invoice Start -->
                  <!--================================-->
                  <div class="card pd-20 wd-90p m-auto">
                     <h5 class="card-title bd-b pd-y-20">Коммерческое предложение <a class="tx-dark">#{{order.number}}</a></h5>
                     <div class="card-body pd-0 printing-area">
                        <img src="/static/main/assets/images/header_logo.png" class="img-fluid" alt="logo"><br><br>
                        <div class="row">
                           <div class="col-md-3">
                              <h6 class="text-dark">Исполнитель:</h6>
                              <address>
                                 <strong>ООО "Изобретатели Декора"</strong><br>
                                 Спб, Литейный проспект 41<br>
                                 <abbr title="Email"></abbr> nare@izidecor.ru
                                 <br>
                                 <abbr title="Phone"></abbr> +7(921)9926683
                              </address>
                           </div>
                           <div class="col-md-3 ml-md-auto text-md-right">
                              <h6 class="text-dark">Заказчик:</h6>
                              <address>
                                 <strong>{{customer.name}}</strong><br>
                                 {{customer.address}}<br>
                                 <abbr title="Email"></abbr> {{customer.email}}
                                 <br>
                                 <abbr title="Phone"></abbr> {{customer.phone}}
                              </address>
                              <br><br>
                              <span><strong>Дата заказа:</strong> {{ order.date_created|date:'Y-m-d' }}</span>
                              <br><br><br><br><br>
                           </div>
                        </div>
                        {% load custom_tags %}
                        {% for room in rooms %}
                           <div class="table-responsive">
                              <h5>Помещение: "{{room.name}}"</h5>
                              <h5 class="tx-12 mg-b-0">
                                 {% if dis_state|get_item:'textile' %}
                                    Текстиль (- {{ dis_state|get_item:'textile' }}% )
                                 {% endif %}
                                 {% if dis_state|get_item:'cornice' %}
                                    Карнизы (- {{ dis_state|get_item:'cornice' }}% )
                                 {% endif %}
                                 {% if dis_state|get_item:'work' %}
                                    Работы (- {{ dis_state|get_item:'work' }}% )
                                 {% endif %}
                              </h5>
                              <br>
                              <table class="table table-hover">
                                 <thead>
                                    <tr>
                                       <th>#</th>
                                       <th>Наименование</th>
                                       <th>Эконом</th>
                                       <th>Стандарт</th>
                                       <th>Премиум</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <td>1</td>
                                       <td>Ткани</td>
                                       <td>
                                          {% if sps|get_item:room.name|get_item:"Econom" %}
                                             {% if sps|get_item:room.name|get_item:"Econom"|get_item:"textile" %}
                                                {{ sps|get_item:room.name|get_item:"Econom"|get_item:"textile" }}
                                                {% if sps|get_item:room.name|get_item:"Econom"|get_item:"textile_d" %}
                                                   ({{ sps|get_item:room.name|get_item:"Econom"|get_item:"textile_d" }})
                                                {% endif %}
                                             {% else %}
                                                <span> - </span>
                                             {% endif %}
                                          {% else %}
                                             <span> - </span>
                                          {% endif%}
                                       </td>
                                       <td>
                                          {% if sps|get_item:room.name|get_item:"Standart" %}
                                             {% if sps|get_item:room.name|get_item:"Standart"|get_item:"textile" %}
                                                {{ sps|get_item:room.name|get_item:"Standart"|get_item:"textile" }}
                                                {% if sps|get_item:room.name|get_item:"Standart"|get_item:"textile_d" %}
                                                   ({{ sps|get_item:room.name|get_item:"Standart"|get_item:"textile_d" }})
                                                {% endif %}
                                             {% else %}
                                                <span> - </span>
                                             {% endif %}
                                          {% else %}
                                             <span> - </span>
                                          {% endif%}
                                       </td>
                                       <td>
                                          {% if sps|get_item:room.name|get_item:"Premium" %}
                                             {% if sps|get_item:room.name|get_item:"Premium"|get_item:"textile" %}
                                                {{ sps|get_item:room.name|get_item:"Premium"|get_item:"textile" }}
                                                {% if sps|get_item:room.name|get_item:"Premium"|get_item:"textile_d" %}
                                                   ({{ sps|get_item:room.name|get_item:"Premium"|get_item:"textile_d" }})
                                                {% endif %}
                                             {% else %}
                                                <span> - </span>
                                             {% endif %}
                                          {% else %}
                                             <span> - </span>
                                          {% endif%}
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>2</td>
                                       <td>Пошив</td>
                                       <td>
                                          {% if sps|get_item:room.name|get_item:"Econom" %}
                                             {% if sps|get_item:room.name|get_item:"Econom"|get_item:"sewing" > '0' %}
                                                {{ sps|get_item:room.name|get_item:"Econom"|get_item:"sewing" }}
                                                {% if sps|get_item:room.name|get_item:"Econom"|get_item:"sewing_d" %}
                                                   ({{ sps|get_item:room.name|get_item:"Econom"|get_item:"sewing_d" }})
                                                {% endif %}
                                             {% else %}
                                                <span> - </span>
                                             {% endif %}
                                          {% else %}
                                             <span> - </span>
                                          {% endif%}
                                       </td>
                                       <td>
                                          {% if sps|get_item:room.name|get_item:"Standart" %}
                                             {% if sps|get_item:room.name|get_item:"Standart"|get_item:"sewing" > '0' %}
                                                {{ sps|get_item:room.name|get_item:"Standart"|get_item:"sewing" }}
                                                {% if sps|get_item:room.name|get_item:"Standart"|get_item:"sewing_d" %}
                                                   ({{ sps|get_item:room.name|get_item:"Standart"|get_item:"sewing_d" }})
                                                {% endif %}
                                             {% else %}
                                                <span> - </span>
                                             {% endif %}
                                          {% else %}
                                             <span> - </span>
                                          {% endif%}
                                       </td>
                                       <td>
                                          {% if sps|get_item:room.name|get_item:"Premium" %}
                                             {% if sps|get_item:room.name|get_item:"Premium"|get_item:"sewing" > '0' %}
                                                {{ sps|get_item:room.name|get_item:"Premium"|get_item:"sewing" }}
                                                {% if sps|get_item:room.name|get_item:"Premium"|get_item:"sewing_d" %}
                                                   ({{ sps|get_item:room.name|get_item:"Premium"|get_item:"sewing_d" }})
                                                {% endif %}
                                             {% else %}
                                                <span> - </span>
                                             {% endif %}
                                          {% else %}
                                             <span> - </span>
                                          {% endif%}
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>3</td>
                                       <td>Карнизы</td>
                                       <td>
                                          {% if sps|get_item:room.name|get_item:"Econom" %}
                                             {% if sps|get_item:room.name|get_item:"Econom"|get_item:"cornice" > '0' %}
                                                {{ sps|get_item:room.name|get_item:"Econom"|get_item:"cornice" }}
                                                {% if sps|get_item:room.name|get_item:"Econom"|get_item:"cornice_d" %}
                                                   ({{ sps|get_item:room.name|get_item:"Econom"|get_item:"cornice_d" }})
                                                {% endif %}
                                             {% else %}
                                                <span> - </span>
                                             {% endif %}
                                          {% else %}
                                             <span> - </span>
                                          {% endif%}
                                       </td>
                                       <td>
                                          {% if sps|get_item:room.name|get_item:"Standart" %}
                                             {% if sps|get_item:room.name|get_item:"Standart"|get_item:"cornice" > '0' %}
                                                {{ sps|get_item:room.name|get_item:"Standart"|get_item:"cornice" }}
                                                {% if sps|get_item:room.name|get_item:"Standart"|get_item:"cornice_d" %}
                                                   ({{ sps|get_item:room.name|get_item:"Standart"|get_item:"cornice_d" }})
                                                {% endif %}
                                             {% else %}
                                                <span> - </span>
                                             {% endif %}
                                          {% else %}
                                             <span> - </span>
                                          {% endif%}
                                       </td>
                                       <td>
                                          {% if sps|get_item:room.name|get_item:"Premium" %}
                                             {% if sps|get_item:room.name|get_item:"Premium"|get_item:"cornice" > '0' %}
                                                {{ sps|get_item:room.name|get_item:"Premium"|get_item:"cornice" }}
                                                {% if sps|get_item:room.name|get_item:"Premium"|get_item:"cornice_d" %}
                                                   ({{ sps|get_item:room.name|get_item:"Premium"|get_item:"cornice_d" }})
                                                {% endif %}
                                             {% else %}
                                                <span> - </span>
                                             {% endif %}
                                          {% else %}
                                             <span> - </span>
                                          {% endif%}
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>4</td>
                                       <td>Монтаж карнизов</td>
                                       <td>
                                          {% if sps|get_item:room.name|get_item:"Econom" %}
                                             {% if sps|get_item:room.name|get_item:"Econom"|get_item:"assembly" > '0' %}
                                                {{ sps|get_item:room.name|get_item:"Econom"|get_item:"assembly" }}
                                                {% if sps|get_item:room.name|get_item:"Econom"|get_item:"assembly_d" %}
                                                   ({{ sps|get_item:room.name|get_item:"Econom"|get_item:"assembly_d" }})
                                                {% endif %}
                                             {% else %}
                                                <span> - </span>
                                             {% endif %}
                                          {% else %}
                                             <span> - </span>
                                          {% endif%}
                                       </td>
                                       <td>
                                          {% if sps|get_item:room.name|get_item:"Standart" %}
                                             {% if sps|get_item:room.name|get_item:"Standart"|get_item:"assembly" > '0' %}
                                                {{ sps|get_item:room.name|get_item:"Standart"|get_item:"assembly" }}
                                                {% if sps|get_item:room.name|get_item:"Standart"|get_item:"assembly_d" %}
                                                   ({{ sps|get_item:room.name|get_item:"Standart"|get_item:"assembly_d" }})
                                                {% endif %}
                                             {% else %}
                                                <span> - </span>
                                             {% endif %}
                                          {% else %}
                                             <span> - </span>
                                          {% endif%}
                                       </td>
                                       <td>
                                          {% if sps|get_item:room.name|get_item:"Premium" %}
                                             {% if sps|get_item:room.name|get_item:"Premium"|get_item:"assembly" > '0' %}
                                                {{ sps|get_item:room.name|get_item:"Premium"|get_item:"assembly" }}
                                                {% if sps|get_item:room.name|get_item:"Premium"|get_item:"assembly_d" %}
                                                   ({{ sps|get_item:room.name|get_item:"Premium"|get_item:"assembly_d" }})
                                                {% endif %}
                                             {% else %}
                                                <span> - </span>
                                             {% endif %}
                                          {% else %}
                                             <span> - </span>
                                          {% endif%}
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>5</td>
                                       <td>Развеска штор</td>
                                       <td>
                                          {% if sps|get_item:room.name|get_item:"Econom" %}
                                             {% if sps|get_item:room.name|get_item:"Econom"|get_item:"hanging" > '0' %}
                                                {{ sps|get_item:room.name|get_item:"Econom"|get_item:"hanging" }}
                                                {% if sps|get_item:room.name|get_item:"Econom"|get_item:"hanging_d" %}
                                                   ({{ sps|get_item:room.name|get_item:"Econom"|get_item:"hanging_d" }})
                                                {% endif %}
                                             {% else %}
                                                <span> - </span>
                                             {% endif %}
                                          {% else %}
                                             <span> - </span>
                                          {% endif%}
                                       </td>
                                       <td>
                                          {% if sps|get_item:room.name|get_item:"Standart" %}
                                             {% if sps|get_item:room.name|get_item:"Standart"|get_item:"hanging" > '0' %}
                                                {{ sps|get_item:room.name|get_item:"Standart"|get_item:"hanging" }}
                                                {% if sps|get_item:room.name|get_item:"Standart"|get_item:"hanging_d" %}
                                                   ({{ sps|get_item:room.name|get_item:"Standart"|get_item:"hanging_d" }})
                                                {% endif %}
                                             {% else %}
                                                <span> - </span>
                                             {% endif %}
                                          {% else %}
                                             <span> - </span>
                                          {% endif%}
                                       </td>
                                       <td>
                                          {% if sps|get_item:room.name|get_item:"Premium" %}
                                             {% if sps|get_item:room.name|get_item:"Premium"|get_item:"hanging" > '0' %}
                                                {{ sps|get_item:room.name|get_item:"Premium"|get_item:"hanging" }}
                                                {% if sps|get_item:room.name|get_item:"Premium"|get_item:"hanging_d" %}
                                                   ({{ sps|get_item:room.name|get_item:"Premium"|get_item:"hanging_d" }})
                                                {% endif %}
                                             {% else %}
                                                <span> - </span>
                                             {% endif %}
                                          {% else %}
                                             <span> - </span>
                                          {% endif%}
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>6</td>
                                       <td>Доставка</td>
                                       <td>
                                          {% if sps|get_item:room.name|get_item:"Econom" %}
                                             {% if sps|get_item:room.name|get_item:"Econom"|get_item:"delivery" > '0' %}
                                                {{ sps|get_item:room.name|get_item:"Econom"|get_item:"delivery" }}
                                                {% if sps|get_item:room.name|get_item:"Econom"|get_item:"delivery_d" %}
                                                   ({{ sps|get_item:room.name|get_item:"Econom"|get_item:"delivery_d" }})
                                                {% endif %}
                                             {% else %}
                                                <span> - </span>
                                             {% endif %}
                                          {% else %}
                                             <span> - </span>
                                          {% endif%}
                                       </td>
                                       <td>
                                          {% if sps|get_item:room.name|get_item:"Standart" %}
                                             {% if sps|get_item:room.name|get_item:"Standart"|get_item:"delivery" > '0' %}
                                                {{ sps|get_item:room.name|get_item:"Standart"|get_item:"delivery" }}
                                                {% if sps|get_item:room.name|get_item:"Standart"|get_item:"delivery_d" %}
                                                   ({{ sps|get_item:room.name|get_item:"Standart"|get_item:"delivery_d" }})
                                                {% endif %}
                                             {% else %}
                                                <span> - </span>
                                             {% endif %}
                                          {% else %}
                                             <span> - </span>
                                          {% endif%}
                                       </td>
                                       <td>
                                          {% if sps|get_item:room.name|get_item:"Premium" %}
                                             {% if sps|get_item:room.name|get_item:"Premium"|get_item:"delivery" > '0' %}
                                                {{ sps|get_item:room.name|get_item:"Premium"|get_item:"delivery" }}
                                                {% if sps|get_item:room.name|get_item:"Premium"|get_item:"delivery_d" %}
                                                   ({{ sps|get_item:room.name|get_item:"Premium"|get_item:"delivery_d" }})
                                                {% endif %}
                                             {% else %}
                                                <span> - </span>
                                             {% endif %}
                                          {% else %}
                                             <span> - </span>
                                          {% endif%}
                                       </td>
                                    </tr>

                                    <tr>
                                       <td></td>
                                       <td>ИТОГО:</td>
                                       <td>
                                          {% if sps|get_item:room.name|get_item:"Econom" %}
                                             {% if sps|get_item:room.name|get_item:"Econom"|get_item:"total" > '0' %}
                                                <p class="tx-bold"><span class="tx-13 tx-gray-800">
                                                   {{ sps|get_item:room.name|get_item:"Econom"|get_item:"total" }}
                                                   {% if sps|get_item:room.name|get_item:"Econom"|get_item:"total_d" %}
                                                      ({{ sps|get_item:room.name|get_item:"Econom"|get_item:"total_d" }})
                                                   {% endif %}
                                                </span></p>
                                             {% else %}
                                                <span> - </span>
                                             {% endif %}
                                          {% else %}
                                             <span> - </span>
                                          {% endif%}
                                       </td>
                                       <td>
                                          {% if sps|get_item:room.name|get_item:"Standart" %}
                                             {% if sps|get_item:room.name|get_item:"Standart"|get_item:"total" > '0' %}
                                                <p class="tx-bold"><span class="tx-13 tx-gray-800">
                                                   {{ sps|get_item:room.name|get_item:"Standart"|get_item:"total" }}
                                                   {% if sps|get_item:room.name|get_item:"Standart"|get_item:"total_d" %}
                                                      ({{ sps|get_item:room.name|get_item:"Standart"|get_item:"total_d" }})
                                                   {% endif %}
                                                </span></p>
                                             {% else %}
                                                <span> - </span>
                                             {% endif %}
                                          {% else %}
                                             <span> - </span>
                                          {% endif%}
                                       </td>
                                       <td>
                                          {% if sps|get_item:room.name|get_item:"Premium" %}
                                             {% if sps|get_item:room.name|get_item:"Premium"|get_item:"total" > '0' %}
                                                <p class="tx-bold"><span class="tx-13 tx-gray-800">
                                                   {{ sps|get_item:room.name|get_item:"Premium"|get_item:"total" }}
                                                   {% if sps|get_item:room.name|get_item:"Premium"|get_item:"total_d" %}
                                                      ({{ sps|get_item:room.name|get_item:"Premium"|get_item:"total_d" }})
                                                   {% endif %}
                                                </span></p>
                                             {% else %}
                                                <span> - </span>
                                             {% endif %}
                                          {% else %}
                                             <span> - </span>
                                          {% endif%}
                                       </td>
                                    </tr>


                                 </tbody>
                              </table>
                           </div>
                        {% endfor %}
                        <hr>
                        <div class="row">

                           <div class="col-md-4 ml-md-auto text-right">

                              <br><br>
                              {% if finish|get_item:'econom' != 0 %}
                                 <p class="tx-18 tx-bold">Итого "Эконом": <span class="tx-18 tx-gray-900">{{ finish|get_item:'econom' }}</span></p>
                                 <br>
                              {% endif %}

                              {% if finish|get_item:'standart' != 0 %}
                                 <p class="tx-18 tx-bold">Итого "Стандарт": <span class="tx-18 tx-gray-900">{{ finish|get_item:'standart' }}</span></p>
                                 <br>
                              {% endif %}

                              {% if finish|get_item:'premium' != 0 %}
                                 <p class="tx-18 tx-bold">Итого "Премиум": <span class="tx-18 tx-gray-900">{{ finish|get_item:'premium' }}</span></p>
                              {% endif %}
                           </div>
                        </div>
                        <hr>
                        <div class="text-right mg-y-20">
                           <button type="button" class="btn btn-primary mg-t-5" onclick="javascript:window.print();"><i class="fa fa-print"></i> Сохранить</button>
                        </div>
                     </div>
                  </div>
                  <!--/ Invoice End -->
               </div>
            </div>

         </div>
         <!--/ Page Content End -->
      </div>

   </body>
</html>